language: c++
compiler:
  - gcc
services: docker
os: linux
dist: jammy

jobs:
  include:
    - stage: check
      if: tag IS NOT present
      addons:
        apt:
          packages:
          - libuv1-dev
          - libboost-all-dev
          - rapidjson-dev
          - autoconf
          - openjdk-11-jdk-headless
          - maven
          - lcov
          - cmake
      # In case we need to run perf, install the below in bionic:
      # linux-tools-common
      # linux-tools-4.15.0-72-generic
      before_install:
        - pip install --user cpp-coveralls
      install: bash ./.travis/install-dependencies.sh
      before_script: sudo sh -c 'echo 0 > /proc/sys/net/ipv6/conf/all/disable_ipv6';
      env:
        - TEST_SUITE=travis-build.sh
        - TEST_SUITE_1=travis-build-without-gprof.sh
      script: 
        - bash ./.travis/$TEST_SUITE
        - bash ./.travis/$TEST_SUITE_1
      after_success:
        - bash ./.travis/coveralls-deploy.sh

    - stage: build-images
      if: tag IS present
      before_script:
        - export DOCKER_BUILDKIT=1
        - export RELEASE_TAG=6.0.3.1
        - export UPSTREAM_ID=81c2369
        - export EXPECTED_TAG_PREFIX=${RELEASE_TAG}
      script:
        - echo "Skip running UTs"
        - git clone http://www.github.com/noironetworks/cicd -b main /tmp/cicd
        - /tmp/cicd/travis/check-git-tag.sh; RETURN_CODE=$? ; if [ $RETURN_CODE -eq 140 ]; then travis_terminate 0; elif [ $RETURN_CODE -ne 0 ]; then travis_terminate $RETURN_CODE; fi
        - /tmp/cicd/travis/build-push-opflex-images.sh || travis_terminate 1
